apiVersion: v1
kind: Secret
metadata:
  name: awsra
  namespace: vault
type: Opaque
stringData:
  AWS_ROLESANYWHERE_PKCS8_PASSWORD: ""
  AWS_ROLESANYWHERE_PROFILE_ARN: ""
  AWS_ROLESANYWHERE_ROLE_ARN: ""
  AWS_ROLESANYWHERE_TRUST_ANCHOR_ARN: ""
  VAULT_AWSKMS_SEAL_KEY_ID: ""
